{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Species Name</title> <!--Placeholder-->
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
  <link href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather" />
  
  <style type="text/css">

    .navbar {
      min-height: 85px;
      width:100%;

    }


    .navbar-custom {
      background-color: #719F1E;
    }
    
  </style>
  
</head>
<body>

<nav class="navbar navbar-expand-md py-3 navbar-light navbar-custom nav-fill">
          <div class="container-fluid">
            
            <div class="col-md">
             <button type="button" class="btn btn-outline-light btn-lg">
               <h3 class="display-6"> < </h3>
             </button>
            </div>

            <div class="col-md" align="center">
              <h2 class="display-5 text-white">Species Name</h2>
            </div>
            <div class="col-md" align="right">
            </div>
          </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col" id="question"></div>
  </div>
  <div class="row">
    <div class="col" id="button-container">
      <ul>
        <li><div class="choice-button"></div></li>
      </ul>
    </div>
  </div>
</div>

<div id='progress-container'>
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    </div>
  </div>
  <div id='percentage'>
    40%
  </div>
</div>
  
</body>
</html>